@model TorneioTenisMesa.Models.ViewModels.ExportGamesViewModel

@{
    ViewData["Title"] = "Export Games as CSV";
}

<div class="d-flex align-items-center gap-2">
    <h2>@ViewData["Title"]</h2>
    <a asp-action="Index" class="btn btn-primary ms-auto">
        Back
    </a>
</div>

<form asp-action="ExportGamesToCsv" method="post">
    <div class="form-group">
        <label for="TournamentId">Select a tournament:</label>
        <select asp-for="TournamentId" asp-items="@(new SelectList(Model.Tournaments, "Id", "Name"))" class="form-control" required>
            <option value="">-- Select --</option>
        </select>
    </div>

    <div class="form-group mt-3">
        <label>How to export:</label>
        <select asp-for="ExportOption" class="form-control">
            <option value="all">All games</option>
            <option value="withResults">Only finished games</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Export CSV</button>
</form>
